<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form  method="post">{%csrf_token%}
        username<input type="text" name="username" placeholder="Enter  your username"><br>
        password<input type="password" name="password" placeholder="Enter your password" style="margin-top: 13px;"><br>
        <input type="submit" value="submit" style="position: absolute;top: 148px;width: 8vw;">
    </form>
</body>
</html>